.App{
    /*background: rgb(195,34,34);
    background: linear-gradient(180deg, rgba(195,34,34,1) 0%, rgba(255,255,255,1) 74%);
    */
    /*background-image: url("./assets/fondo.jpg");*/
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 30px;
}
.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.h1{
    color: rgba(255,255,255,1);
}

.sticky-top{
    position: sticky;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 46vh;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

